body{
  background-color: white;
  text-align: center;
  /* margin: 0 7em; */
}

h1{
  /* border: 1px solid black; */
  padding-bottom: 2em;
}

.init-btn{
  padding-top: 5em;
}

.container{
  /* border: 1px solid red; */
  margin: 5vh 35vw;
  display: grid;
  grid-template-rows: repeat(3, 5em);
  grid-template-columns: repeat(3, 5em);
  grid-gap: 1em;
}

.box{
  box-shadow: 0 0 3px 0 black;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  font-size: 2em;
}


.clickedRed{
  background-color: red
}

.clickedGreen{
  background-color: green
}
